.alert {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.btn-div {
    text-align: center;
}

.btn {
    min-width: 30%;
}

button {
    color: white;
    background-color: #343a40;
}