<article class="row">
    <h2 class="col-12">Pizza de {{customFlavor.name}}</h2>
    <div class="col-10 panel row">
        <img class="rounded mx-auto col-8 d-block" src={{customFlavor.image}}/>
        <article class="col-4">
            <h4><span>Informações</span></h4>
            <h6>Preço: R$ {{customFlavor.price.toFixed(2)}}</h6>
            <h6>Tipo: {{customFlavor.type}}.</h6>
            <h6>Valor em adicionais: R$ {{Additionals().toFixed(2)}}</h6>
            <h6>Total: R$ {{(customFlavor.price + Additionals()).toFixed(2)}}</h6>
        </article>
    </div>

    <h3 class="col-12">Selecione</h3>
    <div class="col-12 row selects">
        <div class="col-sm-4 col-12">
            <h6>Tamanho</h6>
            <select>
                <option value="Pequena">Pequena</option>
                <option value="Média" selected>Média</option>
                <option value="Grande">Grande</option>
                <option value="Extra Grande">Extra Grande</option>
            </select>
        </div>

        <div class="col-sm-4 col-12">
            <h6>Tipo de massa</h6>
            <select>
                <option value="Tradicional" selected>Tradicional</option>
                <option value="Integral">Integral</option>
                <option value="Siciliana">Siciliana</option>
                <option value="Nova-Iorquina">Nova-Iorquina</option>
                <option value="Nova-Iorquina">Nova-Iorquina</option>
            </select>
        </div>

        <div class="col-sm-4 col-12">
            <h6>Recheio da borda</h6>
            <select>
                <option value="Sem recheio" selected>Sem recheio</option>
                <option value="Catupiry">Catupiry</option>
                <option value="Cheddar">Cheddar</option>
                <option value="Chocolate ao Leite">Chocolate ao Leite</option>
            </select>
        </div>
    </div>

    <h3 class="col-12">Adicionais</h3>
    <p id="info" class="col-10">1x - Quantidade padrão do ingrediente, 2x - Duas vezes mais ingrediente, 3x - Três vezes mais ingrediente (Obs: Para 2x ou 3x será cobrado um adicional)</p>
    <table class="table col-10">
        <thead class="table-dark">
            <tr class="row">
                <td class="col-4">Ingrediente</td>
                <td class="col-8">Quantidade</td>
            </tr>
        </thead>
        <tbody>
            <tr class="row" *ngFor="let i of customFlavor.ingredients">
                <td class="col-4">{{i.name}}</td>
                <td class="row col-8">
                    <div class="col-4">
                        <p>1x</p>
                        <input type="radio" name="adicional{{i.name}}" [checked] = "checked(i, 1)" value="1" (click) = "x1(i)"/>
                    </div>
                    <div class="col-4">
                        <p>2x</p>
                        <input type="radio" name="adicional{{i.name}}" [checked] = "checked(i, 2)" value="2" (click) = "x2(i)"/>
                    </div>
                    <div class="col-4">
                        <p>3x</p>
                        <input type="radio" name="adicional{{i.name}}" [checked] = "checked(i, 3)" value="3" (click) = "x3(i)"/>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <button class="btn btn-dark col-sm-4 col-8" (click) = "addCart()">Adicionar ao carrinho</button>
</article>