<article class="row">
    <h2 class="col-12">Pizza de {{pizza.customFlavor.name}}</h2>
    <div class="col-10 panel row">
        <img class="rounded mx-auto col-8 d-block" src={{pizza.customFlavor.image}}/>
        <div *ngIf="getCurrentAccount()" class="favorite-icon">
            <i [class.favorite-on] = "favorite" class="fas fa-heart" (click)="favoriteModify()"></i>
        </div>
        <article class="col-4">
            <h4><span>Informações</span></h4>
            <h6>Preço: R$ {{pizza.customFlavor.price.toFixed(2)}}</h6>
            <h6>Tipo: {{pizza.customFlavor.type}}.</h6>
            <h6>Valor em adicionais: R$ {{Additionals().toFixed(2)}}</h6>
            <h6>Total: R$ {{total().toFixed(2)}}</h6>
        </article>
    </div>

    <h3 class="col-12">Selecione</h3>
    <div class="col-12 row selects">
        <div class="col-sm-4 col-12">
            <h6>Tamanho</h6>
            <select #size (change) = "this.pizza.size = size.value">
                <option *ngFor="let size of sizes" [selected] = "isSelectedSize(size)" [value]="size">{{size}}</option>
            </select>
        </div>

        <div class="col-sm-4 col-12">
            <h6>Tipo de massa</h6>
            <select #dough (change) = "pizza.dough = dough.value">
                <option *ngFor="let dough of doughs" [selected] = "isSelectedDough(dough)" [value]="dough">{{dough}}</option>
            </select>
        </div>

        <div class="col-sm-4 col-12">
            <h6>Recheio da borda</h6>
            <select #pizzaEdge (change) = "pizza.pizzaEdge = pizzaEdge.value">
                <option *ngFor="let pizzaEdge of pizzaEdges" [selected] = "isSelectedPizzaEdge(pizzaEdge)" [value]="pizzaEdge">{{pizzaEdge}}</option>
            </select>
        </div>
    </div>

    <h3 class="col-12">Adicionais</h3>
    <p id="info" class="col-10">1x - Quantidade padrão do ingrediente, 2x - Duas vezes mais ingrediente, 3x - Três vezes mais ingrediente (Obs: Para 2x ou 3x será cobrado um adicional)</p>
    <table class="table col-10">
        <thead class="table-dark">
            <tr class="row">
                <td class="col-4">Ingrediente</td>
                <td class="col-8">Quantidade</td>
            </tr>
        </thead>
        <tbody>
            <tr class="row" *ngFor="let i of pizza.customFlavor.ingredients">
                <td class="col-4">{{i.name}}</td>
                <td class="row col-8">
                    <div class="col-4">
                        <p>1x</p>
                        <input type="radio" name="adicional{{i.name}}" [checked] = "checked(i, 1)" value="1" (click) = "x1(i)"/>
                    </div>
                    <div class="col-4">
                        <p>2x</p>
                        <input type="radio" name="adicional{{i.name}}" [checked] = "checked(i, 2)" value="2" (click) = "x2(i)"/>
                    </div>
                    <div class="col-4">
                        <p>3x</p>
                        <input type="radio" name="adicional{{i.name}}" [checked] = "checked(i, 3)" value="3" (click) = "x3(i)"/>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <button class="btn btn-dark col-sm-4 col-8" (click) = "addCart()">Adicionar ao carrinho</button>
</article>