<section class="dropdown-menu dropdown-menu-right">
    <span class="dropdown-menu-arrow"></span>
    <h5>Lista de Pedidos: </h5>

    <section *ngIf="items.length !== 0">
        <ul *ngFor = "let item of items">
        <li> <a (click) = "removeItem(item)" class="btn btn-remove-item">x</a> {{item.amount}}x Pizza de {{item.customFlavor.flavor.name}}</li>
            <li> Valor por item: R${{(item.customFlavor.flavor.price + item.customFlavor.additionalsValue).toFixed(2)}}</li>
            <div></div>
        </ul>
        <article class="button-dropdown-menu">
            <a routerLink="/checkout" routerLinkActive="active" class="btn">Fechar pedido</a>
        </article>
    </section>
    <section *ngIf="items.length === 0" class="empty-list">
        <h6>Vazia</h6>
    </section>
</section>
