.navbar{
    left: 0px;
    padding: 10px 50px;
    background-color: #b01010;
    height: 80px;
    transition: left 0.5s;
}

.navbar-move {
    left: 100px;
}

.navbar-nav{
    padding-left: 15px;
}

.navbar-nav > li > a {
    color: white;
}

.button-toggler > button {
    padding: 0;
}

#navbar-header{
	padding-left: 10px;
	text-align: center;
	font-size: 25px;
}

#navbar-header > a > img {
    width: 40px;
    height: 40px;
}

#navbar-header > a{
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-decoration: none;
}

#cart {
    padding-left: 50px;
}

.shop-icon{
    font-size: 20px;
}

@media only screen and (max-width: 992px) {
    #navbar-header > a {
        padding-left: 10px;
    }

    .navbar-move {
        left: 150px;
    }
}

@media only screen and (max-width: 898px) {

    .button-toggler > button > span{
        height: 27px;
        width: 35px;
    }
}

@media only screen and (max-width: 622px) {

    .button-toggler > button > span{
        height: 23px;
        width: 28px;
    }
    
    #navbar-header{
        text-align: center;
        font-size: 22px;
    }
    
    #navbar-header > a > img {
        width: 35px;
        height: 35px;
    }

    #cart {
        font-size: 15px;
    }
    
    .shop-icon{
        font-size: 18px;
    }
}

@media only screen and (max-width: 581px) {

    .navbar-move {
        left: 120px;
    }

    .button-toggler > button > span{
        height: 20px;
        width: 25px;
    }
    
    #navbar-header{
        text-align: center;
        font-size: 17px;
    }
    
    #navbar-header > a > img {
        width: 29px;
        height: 29px;
    }

    #cart {
        font-size: 12px;
    }
    
    .shop-icon{
        font-size: 14px;
    }
}

@media only screen and (max-width: 491px) {

    .navbar {
        padding-left: 15px;
    }

    .navbar-move {
        left: 110px;
    }

    .button-toggler > button > span{
        height: 17px;
        width: 22px;
    }
    
    #navbar-header{
        text-align: center;
        margin-left: 10%;
        font-size: 15px;
        position: fixed;
    }
    
    #navbar-header > a > img {
        width: 26px;
        height: 26px;
    }

    #cart {
        font-size: 11px;
    }
    
    .shop-icon{
        font-size: 10px;
    }

    .ml-auto {
        margin-left: 0;
    }
}