<nav class="navbar navbar-expand-lg navbar-light">
    <div class="button-toggler">
        <button class="navbar-toggler" type="button" (click) = "togglerClick()">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    
    <div id="navbar-header">
        <a href="#"><img src="./assets/icon/pizzaIcon.png"> Pizzaria</a> 
    </div>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="" > <i class="fas fa-user"></i>  Login</a>
            </li> 
            <li class="nav-item">
                <a class="nav-link" href="" > <i class="fas fa-thumbs-up"></i> Ranking</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="" > <i class="fas fa-globe-americas"></i> Lojas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="" > <i class="fas fa-envelope"></i> Contato</a>
            </li>
        </ul>
    </div>

    <div id="cart">
        <ul class="navbar-nav">
            <li class="nav-item ml-auto dropdown btn-group">
                <a *ngIf="showTotalPrice" class="nav-link" href="#" role="button" id="dropdownCart" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><i class="fas fa-shopping-cart"></i> Total: R$ {{priceTotal.toFixed(2)}}</a>
                <a *ngIf="!showTotalPrice" class="nav-link" href="#" role="button" id="dropdownCart" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><i class="fas fa-shopping-cart"></i> Total: R$ 00.00</a>
                <app-shopping-cart></app-shopping-cart>
            </li>
        </ul>
    </div>
</nav>

<nav class="navbar2">
    <ul class="navbar-nav row">
        <li class="nav-item savory-color col-lg-4 col-md-4 col-sm-4 col-4">
            <a href="#savoryFlavors"><i class="fas fa-pizza-slice"></i> Pizzas Salgadas</a>
        </li>
        <li class="nav-item sweet-color col-lg-4 col-md-4 col-sm-4 col-4">
            <a href="#sweetFlavors"><i class="fas fa-pizza-slice"></i>Pizzas Doces</a>
        </li>
        <li class="nav-item vegetarian-color col-lg-4 col-md-4 col-sm-4 col-4">
            <a href="#vegetarianFlavors"><i class="fas fa-pizza-slice"></i> Pizzas Vegetarianas</a>
        </li>
    </ul>
</nav>
