<section id="stores">
    <h2>Lojas</h2>
    <article>
        <h3>Fortaleza</h3>
        <div class="line"></div>
        <section class="row stores">
            <article class="store col-lg-4 col-md-6 col-sm-6 col-12 row">
                <a class="col-12" href="https://www.google.com/maps?q=fortaleza&um=1&ie=UTF-8&sa=X&ved=2ahUKEwi5gbmyhYXqAhUYIbkGHSZIAhgQ_AUoAXoECBkQAw">
                    <img class="rounded mx-auto d-block" src="/assets/img/map.jpg"/>
                </a>
                <article class="store-information col-12">
                    <h5>Unidade do bairro Fictício</h5>
                    <p>Av. Fictícia, 340</p>
                    <p>(85) 9999-9999</p>
                    <p>Aberto todos os dias, das 18:30h à 23h</p>
                </article>
            </article>

            <article class="store col-lg-4 col-md-6 col-sm-6 col-12 row">
                <a class="col-12" href="https://www.google.com/maps?q=fortaleza&um=1&ie=UTF-8&sa=X&ved=2ahUKEwi5gbmyhYXqAhUYIbkGHSZIAhgQ_AUoAXoECBkQAw">
                    <img class="rounded mx-auto d-block" src="/assets/img/map.jpg"/>
                </a>
                <article class="store-information col-12">
                    <h5>Unidade do bairro Fictício</h5>
                    <p>Av. Fictícia, 340</p>
                    <p>(85) 9999-9999</p>
                    <p>Aberto todos os dias, das 18:30h à 23h</p>
                </article>
            </article>

            <article class="store col-lg-4 col-md-6 col-sm-6 col-12 row">
                <a class="col-12" href="https://www.google.com/maps?q=fortaleza&um=1&ie=UTF-8&sa=X&ved=2ahUKEwi5gbmyhYXqAhUYIbkGHSZIAhgQ_AUoAXoECBkQAw">
                    <img class="rounded mx-auto d-block" src="/assets/img/map.jpg"/>
                </a>
                <article class="store-information col-12">
                    <h5>Unidade do bairro Fictício</h5>
                    <p>Av. Fictícia, 340</p>
                    <p>(85) 9999-9999</p>
                    <p>Aberto todos os dias, das 18:30h à 23h</p>
                </article>
            </article>
        </section>

        <h3>São Paulo</h3>
        <div class="line"></div>
        <section class="row stores">
            <article class="store col-lg-4 col-md-6 col-sm-6 col-12 row">
                <a class="col-12" href="https://www.google.com/maps/place/S%C3%A3o+Paulo,+SP/@-23.6821604,-46.8754915,10z/data=!3m1!4b1!4m5!3m4!1s0x94ce448183a461d1:0x9ba94b08ff335bae!8m2!3d-23.5505199!4d-46.6333094">
                    <img class="rounded mx-auto d-block" src="/assets/img/map.jpg"/>
                </a>
                <article class="store-information col-12">
                    <h5>Unidade do bairro Fictícia</h5>
                    <p>Av. Fictícia, 340</p>
                    <p>(11) 9999-9999</p>
                    <p>Aberto todos os dias, das 18:30h à 23h</p>
                </article>
            </article>

            <article class="store col-lg-4 col-md-6 col-sm-6 col-12 row">
                <a class="col-12" href="https://www.google.com/maps/place/S%C3%A3o+Paulo,+SP/@-23.6821604,-46.8754915,10z/data=!3m1!4b1!4m5!3m4!1s0x94ce448183a461d1:0x9ba94b08ff335bae!8m2!3d-23.5505199!4d-46.6333094">
                    <img class="rounded mx-auto d-block" src="/assets/img/map.jpg"/>
                </a>
                <article class="store-information col-12">
                    <h5>Unidade do bairro Fictícia</h5>
                    <p>Av. Fictícia, 340</p>
                    <p>(11) 9999-9999</p>
                    <p>Aberto todos os dias, das 18:30h à 23h</p>
                </article>
            </article>

            <article class="store col-lg-4 col-md-6 col-sm-6 col-12 row">
                <a class="col-12" href="https://www.google.com/maps/place/S%C3%A3o+Paulo,+SP/@-23.6821604,-46.8754915,10z/data=!3m1!4b1!4m5!3m4!1s0x94ce448183a461d1:0x9ba94b08ff335bae!8m2!3d-23.5505199!4d-46.6333094">
                    <img class="rounded mx-auto d-block" src="/assets/img/map.jpg"/>
                </a>
                <article class="store-information col-12">
                    <h5>Unidade do bairro Fictícia</h5>
                    <p>Av. Fictícia, 340</p>
                    <p>(11) 9999-9999</p>
                    <p>Aberto todos os dias, das 18:30h à 23h</p>
                </article>
            </article>

            <article class="store col-lg-4 col-md-6 col-sm-6 col-12 row">
                <a class="col-12" href="https://www.google.com/maps/place/S%C3%A3o+Paulo,+SP/@-23.6821604,-46.8754915,10z/data=!3m1!4b1!4m5!3m4!1s0x94ce448183a461d1:0x9ba94b08ff335bae!8m2!3d-23.5505199!4d-46.6333094">
                    <img class="rounded mx-auto d-block" src="/assets/img/map.jpg"/>
                </a>
                <article class="store-information col-12">
                    <h5>Unidade do bairro Fictícia</h5>
                    <p>Av. Fictícia, 340</p>
                    <p>(11) 9999-9999</p>
                    <p>Aberto todos os dias, das 18:30h à 23h</p>
                </article>
            </article>
        </section>
    </article>
</section>
