.row {
    margin-right: 0;
    margin-left: 0;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 100%;
    justify-content: center;
}

.row > article {
    padding: 0;
}

h2 {
    color: #343a40;
    font-family: Arial,sans-serif;
}

.login {
    min-width: 235px;
    margin-top: 50px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.login > div {
    border-bottom: 2px #b01010 solid;
    width: 100%;
    margin-bottom: 3%;
}

button {
    background-color: #343a40;
    color: white;
}

.btn-link {
    color: #343a40;
    float: right;
}

.message {
    text-align: center;
}

@media only screen and (max-width: 337px) {
    
    .col-2 {
        flex: 0 0 15%;
        max-width: 15%;
    }
}
