.lists{
    transition: margin-left 0.5s;
}

.lists-move {
    margin-left: 100px;
}

@media only screen and (max-width: 992px) {
    .lists-move {
        margin-left: 150px;
    }
}

@media only screen and (max-width: 581px) {
    .lists-move {
        margin-left: 120px;
    }
}

@media only screen and (max-width: 581px) {
    .lists-move {
        margin-left: 110px;
    }
}