.alert-add-cart{
    background-color: #32383e;
    color: white;
}

aside {
    text-align: center;
}

aside > span {
    position: absolute;
    top: 0px;
    right: 5px;
}

.hidden{
    display: none;
}