.row {
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
    text-align: center;
}

h1 {
    margin-bottom: 40px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: darkred;
}

.row > table > thead {
    background-color: darkred;
    color: white;
}

#td-hour {
    min-width: 110px;
}

#td-total {
    min-width: 100px;
}

button {
    color: darkred;
}

h2 {
    text-align: center;
}

@media only screen and (max-width: 831px) {
    
    .row > table {
        display: block;
        overflow-x: scroll;
    } 
}