<section class="row">
    <article id="alert" class="col-6">
        <app-alert></app-alert>
    </article>
    <h1 class="col-12">Lista de pedidos</h1>
    <table class="table table-hover col-10">
        <thead>
            <tr>
                <td>Status da transação</td>
                <td>Forma de pagamento</td>
                <td>Data</td>
                <td id="td-hour">Hora</td>
                <td>Quantidade</td>
                <td id="td-total">Total</td>
                <td>Detalhes</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of orders">
                <td style="color: green;" *ngIf="order.transactionStatus === 'paid'">Pago</td>
                <td style="color: red;" *ngIf="order.transactionStatus === 'refused'">Recusada</td>
                <td>{{order.paymentWay}}</td>
                <td>{{order.date | date: 'd/MM/yy': '+00'}}</td>
                <td>{{order.date | date: 'h:mm:ss a': '+00'}}</td>
                <td>{{getAmount(order.pizzas)}}</td>
                <td>{{'R$ ' + order.total.toFixed(2)}}</td>
                <td><button type="button" class="btn btn-link" data-toggle="modal" [attr.data-target]="'#Modal' + order.id">
                    + Mais detalhes
                </button></td>
                <app-details-modal [pizzas]="order.pizzas" [idOrder]="order.id"></app-details-modal>
            </tr>
        </tbody>
    </table>
</section>
