#main-row {
    margin: 0;
    flex-direction: column;
}

h3 {
    text-align: center;
    margin-top: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
}

#main-row > .row {
    height: 400px;
}

h4 {
    font-family: 'Open Sans Condensed', sans-serif;
}

.input-cep {
    width: 170px;
}

.readonly-select {
    background: #eee;
    pointer-events: none;
    touch-action: none;
}

h3 {
   color: darkred;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

.alert {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}