#main-row {
    margin: 0;
    flex-direction: column;
}

h3 {
    text-align: center;
    margin-top: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
}

#main-row > .row {
    height: 400px;
}

h4 {
    font-family: 'Open Sans Condensed', sans-serif;
}

.h4-extras{
    text-align: center;
}

.input-cep, .input-phone {
    width: 40%;
}

.readonly-select {
    background: #eee;
    pointer-events: none;
    touch-action: none;
}

h3 {
   color: darkred;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

.alert {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

@media only screen and (max-width: 900px) {
    
    .input-cep, .input-phone {
        width: 60%;
    }
}

@media only screen and (max-width: 800px) {
    
    .input-cep, .input-phone {
        width: 70%;
    }
}

@media only screen and (max-width: 700px) {
    
    .input-cep, .input-phone {
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {
    
    .input-cep, .input-phone {
        width: 100%;
    }
}

@media only screen and (max-width: 488px) {
    
    h4 {
        font-size: 22px;
    }
}

@media only screen and (max-width: 459px) {
    
    h4 {
        font-size: 24px;
    }
}