<nav class="navbar">
    <ul class="navbar-nav row">
        <li class="nav-item savory-color col-lg-4 col-md-4 col-sm-4 col-4">
            <a href="home#savoryFlavors"><i class="fas fa-pizza-slice"></i> Pizzas Salgadas</a>
        </li>
        <li class="nav-item sweet-color col-lg-4 col-md-4 col-sm-4 col-4">
            <a href="home#sweetFlavors"><i class="fas fa-pizza-slice"></i>Pizzas Doces</a>
        </li>
        <li class="nav-item vegetarian-color col-lg-4 col-md-4 col-sm-4 col-4">
            <a href="home#vegetarianFlavors"><i class="fas fa-pizza-slice"></i> Pizzas Vegetarianas</a>
        </li>
    </ul>
</nav>