.side-nav-bar {
    padding-left: 5px;
    height: 100%;
    width: 100%;
    min-width: 114px;
}

.side-nav-bar > ul > li > a{
    color: white;
}

.side-nav-bar > ul > li {
    margin-top: 10px;
    margin-left: 15px;
}