<nav class="side-nav-bar">
    <ul class="navbar-nav">
        <li *ngIf = "!userName" class="nav-item">
            <a class="nav-link"  routerLink="/login" routerLinkActive="active"> <i class="fas fa-user"></i>  Login</a>
        </li> 
        <li *ngIf = "userName" class="nav-item">
            <a class="nav-link"> Bem vindo {{userName}}</a>
        </li>
        <li *ngIf = "userName" class="nav-item">
            <a class="nav-link" routerLink="/mydata" routerLinkActive="active"> <i class="fas fa-id-badge"></i> Meus dados</a>
        </li>
        <li *ngIf = "userName" class="nav-item">
            <a class="nav-link" routerLink="/orders" routerLinkActive="active"> <i class="fas fa-list-ul"></i> Pedidos</a>
        </li>
        <li *ngIf = "userName" class="nav-item">
            <a class="nav-link" routerLink="/favorites" routerLinkActive="active"> <i class="fas fa-heart"></i> Favoritos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="home#ranking" ><i class="fas fa-thumbs-up"></i> Ranking</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="home#stores" ><i class="fas fa-globe-americas"></i> Lojas</a>
        </li>
        <li *ngIf = "userName" class="nav-item">
            <a (click) = 'logout()' href="" role="button" class="nav-link"> <i class="fas fa-times"></i> Sair</a>
        </li>
    </ul>
</nav>