<form class="row" [formGroup] = "discountCouponForm" (ngSubmit) = "onSubmit()">
    <p class="col-lg-6 col-md-6 col-sm-6 col-10">Digite um cupom de desconto válido:</p>
    <div class="form-group row col-lg-12 col-md-12 col-sm-12 col-12">
        <input class="form-control col-lg-6 col-md-6 col-sm-6 col-10" type="text" formControlName="couponCode" name="couponCode" [ngClass]="{ 'is-invalid': submitted && discountCouponForm.controls.couponCode.errors }"/>
        <span class="span-clear" (click) = "clear()">x</span>
        <div *ngIf="submitted && discountCouponForm.controls.couponCode.errors" class="invalid-feedback">
            <div *ngIf="discountCouponForm.controls.couponCode.errors.required">Informe o código do cupom</div>
        </div>
    </div>
    <p [class.success] = "isValid" class="error">{{message}}</p>
    <button class="btn">Verificar cupom</button>
</form>
