.type {
     height: 60px;
     padding-top: 11px;
     margin-bottom: 75px;
} 

.savory-type {
     background-color: #878500;
}

.sweet-type {
     background-color: #D2691E;
}

.vegetarian-type {
     background-color: #008719;
}

h3{
     font-size: 35px;
     font-family: 'Bangers', cursive;
     margin-left: 3%;
     color: white;
}

.product{
     margin-bottom: 10%;
     margin-left: 3%;
     width: 94%;
     margin-right: 0px;
}

.pizzas{
     padding: 0;
}

.row {
     margin-right: 0px;
     margin-left: 0px;
}

@media only screen and (max-width: 767px) {

     .row {
          justify-content: center;
     }
}

@media only screen and (max-width: 610px) {

     .type{
          padding-left: 10px;
     }
}

@media only screen and (max-width: 350px) {

     .row{
          padding-left: 30px;
     }
}


@media only screen and (max-width: 300px) {

     .row{
          padding-left: 20px;
     }
}

@media only screen and (max-width: 290px) {

     
}


@media only screen and (max-width: 256px) {

     h3{
          font-size: 29px;
     }
}

@media only screen and (max-width: 211px) {

     h3{
          font-size: 24px;
          padding-top: 8px;
     }
}