.carousel {
    width: 100%;
    margin-top: 80px;
    left: 0;
    transition: left 0.5s;
}

.carousel > .carousel-inner > .carousel-item > img {
    height: 400px;
}

@media only screen and (max-width: 992px) {
    .carousel-move  {
        left: 150px;
    }
}

@media only screen and (max-width: 581px) {
    .carousel-move  {
        left: 120px;
    }
}
@media only screen and (max-width: 491px) {
    .carousel-move  {
        left: 110px;
    }
}