.main-rows {
    flex-direction: row;
    justify-content: center;
}

h3 {
    text-align: center;
    margin-top: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #8c1f1f;
}

button {
    color: white;
    background-color: #343a40;
}

.btn-address {
    padding-left: 44px;
}

.alert {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}