<div class="row main-row">
    <div class="row col-12">
        <p class="col-6">Valor da compra: </p>
        <p class="col-1"></p>
        <p class="col-4" style="text-align: left">R$ {{amoutTotal().toFixed(2)}}</p>
    </div>
    <div class="row col-12 plus-sign">
        <p class="col-6">Taxa de entrega: </p>
        <p class="col-1">+</p>
        <p class="col-4">R$ {{deliveryFee.toFixed(2)}}</p>
    </div>
    <div class="row col-12">
        <p class="col-6">Total a pagar: </p>
        <p class="col-1"></p>
        <p class="col-4">R$ {{(amoutTotal() + 10).toFixed(2)}}</p>
    </div>

    <h3>Formas de pagamento:</h3>

    <div class="row col-12 payment-way-main">
        <div class="col-3 payment-way">
            <img src="./assets/icon/mastercard.png" class="rounded mx-auto d-block">
            <input type="radio" checked="checked" name="radio" (click) = "creditCardSelect()">
        </div>
        <div class="col-3 payment-way">
            <img src="./assets/icon/visa.png" class="rounded mx-auto d-block">
            <input type="radio" name="radio" (click) = "creditCardSelect()">
        </div>
        <div class="col-3 payment-way">
            <img src="./assets/icon/boleto.png" class="rounded mx-auto d-block">
            <input type="radio" name="radio" (click) = "notCreditCardSelect()">
        </div>
        <div class="col-3 payment-way">
            <img src="./assets/icon/paypal.png" class="rounded mx-auto d-block">
            <input type="radio" name="radio" (click) = "notCreditCardSelect()">
        </div>
    </div>

    <div class="row col-6 card-data">
        <div class="col-12">
            <label for="ownerName">Nome do titular</label>
            <input type="text" name="ownerName" class="form-control" [readonly]="readonly"/>
        </div>
        <div class="col-12">
            <label for="cardNumber">Numero do cartão</label>
            <input type="text" name="cardNumber" class="form-control" [readonly]="readonly"/>
        </div>
        <div class="col-6">
            <label for="expirationDate">Data de validade</label>
            <input type="text" name="expirationDate" class="form-control" [readonly]="readonly"/>
        </div>
        <div class="col-6">
            <label for="securityCode">Codigo de seguraça</label>
            <input type="number" name="securityCode" class="form-control" [readonly]="readonly"/>
        </div>
    </div>
</div>