.row {
    margin-left: 0;
    margin-right: 0;
}

.list {
    padding-top: 50px;
    justify-content: center;
}

.list > table > thead > tr {
    text-align: center;
}

.list > table > thead {
    background-color: darkred;
    color: white;
}

.list > table > tbody > tr {
    text-align: center;
}

.list > table > tbody > tr > td > img {
    width: 25px;
    height: 25px;
}

.notBreakOriginalPrice {
    min-width: 134px;
}

.notBreakTotalPrice {
    min-width: 106px;
}

.total-price {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.total-price {
    justify-content: center;
    text-align: center;
}
.total-price > .line {
    border: 2px solid darkred;
}

@media only screen and (max-width: 687px) {
    
    .list > table {
        display: block;
        overflow-x: scroll;
    } 
}