<div *ngIf="items.length !== 0">
    <div class="list row">
        <div class="col-md-1 col-sm-1 col-1"></div>
        <table class="table table-hover col-md-10 col-sm-10 col-10">
            <thead>
                <tr>
                    <td>#</td>
                    <td>Sabor</td>
                    <td>Preço Unitario</td>
                    <td>Tipo</td>
                    <td>Quantidade</td>
                    <td>Preço total</td>
                    <td>Remover</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items">
                    <td><img class="rounded mx-auto d-block" src={{item.flavor.image}}/></td>
                    <td>{{item.flavor.name}}</td>
                    <td>R$ {{item.flavor.price.toFixed(2)}}</td>
                    <td>{{item.flavor.type}}</td>
                    <td>{{item.quantidade}}</td>
                    <td>R$ {{(item.flavor.price * item.quantidade).toFixed(2)}}</td>
                    <td> <a (click) = "removeItem(item)" class="btn btn-remove-item">x</a></td>
                </tr>
            </tbody>
        </table>
        <div class="col-md-1 col-sm-10 col-1"></div>
    </div>
    <div class="total-price row">
        <h4 class="col-md-12">Total: R$ {{amoutTotal().toFixed(2)}}</h4>
        <div class="col-md-1 col-sm-1 col-1"></div>
        <div class="col-md-10 col-sm-10 col-10 line"></div>
        <div class="col-md-1 col-sm-1 col-1"></div>
    </div>
</div>
<div *ngIf="items.length === 0" class="empty-list">

</div>