h2 {
    margin-top: 20px;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #8c1f1f;
}

.row {
    margin-left: 0;
    margin-right: 0;
    min-width: 310px;
}

.address-container {
    text-align: center;
    padding: 0;
    margin-top: 30px;
    border: 2px solid #8c1f1f;
    border-top: 0px;
    border-radius: 15px;
}

.first-block, .second-block  {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    border-radius: 12px;
}

.second-block {
    margin-top: 20px;
}

.col-4 {
    padding: 0;
}

h6 {
    padding-top: 3px;
    border-radius: 12px;
    background-color: #8c1f1f;
    color: white;
    font-size: 17px;
    height: 40%;
}

.row-phone {
    flex-direction: column; 
    text-align: center; 
    margin-top: 10px;
}

@media only screen and (max-width: 524px) {

    h6 {
        font-size: 15px;
    }

    p {
        font-size: 14px;
    }
}

@media only screen and (max-width: 459px) {

    h6 {
        font-size: 14px;
    }

    p {
        font-size: 13px;
    }
}