.modal-title {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #8c1f1f;
}

table {
    min-width: 190px;
}

table > thead {
    background-color: #8c1f1f;
    color: white;
    width: 100%;
}

.price {
    min-width: 110px;
}