.modal-title {
    font-family: 'Open Sans Condensed', sans-serif;
    color: darkred;
}

table > thead {
    background-color: darkred;
    color: white;
}

.btn {
    color: darkred;
}

@media only screen and (max-width: 345px) {
    
    table {
        display: block;
        overflow-x: scroll;
    }
}